.videodiv
    video(autoplay, id="video").hide-video
.canvasdiv
    canvas.video-canvas(id="canvasVideo")
.drawingdiv
    canvas.drawing-canvas(id="canvasDrawing")
.othersdiv
    canvas.others-canvas(id="othersCanvas")
button.color-btn(id="change-color-btn") Change the color!
