.videodiv
    video(autoplay, id="video").hide-video
.canvasdiv
    canvas.video-canvas(id="canvasVideo")
.drawingdiv
    canvas.drawing-canvas(id="canvasDrawing")
.othersdiv
    canvas.others-canvas(id="othersCanvas")
.crosshairdiv
    canvas.crosshair-canvas(id="crosshair")
.textdiv Press any key to begin your adventure.
div#user-count 0

div.credits 
  | A <a href="http://suharshs.com">suharshs</a> 
  | and <a href="http://mpwoz.com">mpwoz</a> production.
