.videodiv
	video(autoplay, id="video").hide-video
canvas.video-canvas(id="canvasVideo")
canvas.drawing-canvas(id="canvasDrawing")
canvas.others-canvas(id="othersCanvas")
button.color-btn(id="change-color-btn") Change the color!
