!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title fingerpaint
  meta(name='description', content='DESCRIPTION')
  meta(name='author', content='AUTHOR')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(href='http://fonts.googleapis.com/css?family=Poiret+One',rel='stylesheet',type='text/css')


  //!= css('bootstrap')
  //!= css('bootstrap-responsive')
  != css('style')

body
  != body

  != js('jquery')
  //!= js('bootstrap')
  script(src="/socket.io/socket.io.js")
  //!= js('socket_handlers')
  != js('ws')
  != js('draw')

| </html>
