body{
    background: url("/img/bg2.jpg");
    font-family: 'Poiret One', cursive;
    color: white;
    margin: 0;
    overflow: hidden;
}

a, a:visited {
    color: white;
    border-radius: 4px;
}

a:hover {
    background: red;
}

.hide-video{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    display:none;
}

.canvasdiv{
    position: absolute;
    /*top: 0px;*/
    width: 100%;
    height: 100%;
    text-align:center;
}

.drawingdiv{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:center;
}

.othersdiv{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:center;
}

.crosshairdiv{
    position: absolute;
    width: 100%;
    text-align:center;
}

.textdiv{
    font-size: 49pt;
    position: absolute;
    width: 100%;
    text-align:center;
    margin-top: 25%;
}

canvas{
    display: inline;
}

.others-canvas{
    opacity: 0.6;
}

.video-canvas{
    opacity: 1;
}

.drawing-canvas{
    opacity: 1;
}

.crosshair-canvas{
    opacity: 1;
}

#user-count {
    float: right;
    background: none;
    margin-top: 15px;
    font-size: 18pt;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    text-align: right;
    margin-right: 5px;
}

.credits {
    float: left;
    position: fixed;
    bottom: 2px;
    font-size: 10pt;
}