body{
    background: black;
}

.hide-video{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    display:none;
}

.canvasdiv{
    position: absolute;
    width: 100%;
    text-align:center;
}

.drawingdiv{
    position: absolute;
    width: 100%;
    text-align:center;
}

.othersdiv{
    position: absolute;
    width: 100%;
    text-align:center;
}

canvas{
    display: inline;
}

.others-canvas{
    opacity: 0.6;
}

.video-canvas{
    opacity: 0.4;
}

.drawing-canvas{
    opacity: 1;
}

.color-btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 850px;
    top: 550px;
}

#user-count {
    float: right;
    background: none;
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: right;
}