body{
    background: black;
}

.hide-video{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    display:none;
}

.back-canvas{
    position: absolute;
    width: 100%; 
    height: 100%;
    overflow: hidden; 
    opacity: 0.4;
}

.video-canvas{
    position: absolute;
    width: 800px; 
    height: 600px;
    overflow: hidden; 
    opacity: 1;
}

.drawing-canvas{
    position: absolute;
    width: 800px; 
    height: 600px;
    overflow: hidden; 
    opacity: 1;
}

.color-btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 850px;
    top: 550px;
}